@layer reset, default, largeView, mediumView, smallView;

@layer reset {
  :host {
    display: block;
  }
}

@layer default {
  :host .page-feedback__intro, :host .page-feedback__get-feedback, :host .page-feedback__confirmation {
    &.d-none {
      display: none;
    }
	
	--gcds-fieldset-font-desktop: 700 16px "Noto sans", sans-serif;
	--gcds-fieldset-font-mobile: 700 16px "Noto sans", sans-serif;
  }
  
  /* Add a spacing of 9 px between both gcds-button */
  :host gcds-fieldset gcds-button+gcds-button {
	margin-left: 9px;
  }
  
  :host gcds-fieldset .page-feedback__btn-group {
	/*float: right;*/
	text-align: right;
  }
  
  :host gcds-button::part(button) {
	font-family: Lato, sans-serif;
	padding-top: 6px;
	padding-bottom: 6px;
  }
  
  :host gcds-fieldset::part(legend) {
	width: 100%;
	float:left;
	margin-top: 12px!important;
  }
  
  :host .gcds-page-feedback:not(.confirmed) {
	padding: 19px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
  }
  
  :host gcds-details {
	--gcds-details-font: 400 16px "Noto Sans", sans-serif;
	margin-bottom: 7px;
  }
  
  :host gcds-textarea {
	--gcds-textarea-font: 400 16px "Noto Sans", sans-serif;
	--gcds-label-font-desktop: 600 16px "Noto Sans", sans-serif;
	--gcds-label-font-mobile: 600 16px "Noto Sans", sans-serif;
	
	/**
	**
	** I am unable to reset the font for the gcds-text that are inside the gcds-hint which are inside gcds-textarea. All that encapsulation do create an exponential complexity when we do need to apply an override.
	**
	**/
	gcds-hint::part(hint) gcds-text::part(text) {
	  font: 400 14px "Noto Sans", sans-serif;
	}
  }
  
/*  
  :host .page-feedback__contact summary {
	border: 1px solid #ddd;
	border-radius: 4px;
	color: #295376;
	padding: 5px 15px;
  }
  
  :host details[open].page-feedback__contact summary {
	border: 0;
	border-bottom: 1px solid #ddd;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
  }
  
  :host details[open].page-feedback__contact {
	border: 1px solid #ddd;
	border-radius: 4px;
  }
  */
}

@layer largeView {

  /*:host .gcds-page-feedback {*/
  :host {
	@media only screen and (width >= 62rem) {
	  max-width: 37.5%;
	  --gcds-fieldset-font-desktop: 700 16px "Noto sans", sans-serif;
	  --gcds-fieldset-font-mobile: 700 16px "Noto sans", sans-serif;
	  
	  gcds-fieldset::part(legend) {
		width: 66.66%;
	  }
	}
  }
}

@layer mediumView {
  /*:host .gcds-page-feedback {*/
  :host {
	@media only screen and (width >= 48rem) {
	  max-width: 56%;
	  --gcds-fieldset-font-desktop: 700 16px "Noto sans", sans-serif;
	  --gcds-fieldset-font-mobile: 700 16px "Noto sans", sans-serif;
	  
	  gcds-fieldset::part(legend) {
		width: 75;
	  }
	}
  }
}


@layer smallView {
  /* :host .gcds-page-feedback { */
  :host {
	@media only screen and (width >= 30rem) {
	  max-width: 55%;
	  --gcds-fieldset-font-desktop: 700 16px "Noto sans", sans-serif;
	  --gcds-fieldset-font-mobile: 700 16px "Noto sans", sans-serif;
	  
	  gcds-fieldset::part(legend) {
		width: 58.33%;
	  }
    }
  }
}

